body, h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	font: inherit;
}

body {
	background-color: #ddd;	
}

.box {
	background-color: white;
	width: 740px;
	margin: 400px auto 0;
	text-align: center;
	border-radius: 20px;
	border-right: 5px solid #ccc;
	border-bottom: 5px solid #999;
}

.box h1 {
	color: orangered;
	border-bottom: 10px solid orangered;
	background-color: aquamarine;
	width: 250px;
	margin: 40px auto;
	font-size: 4rem;
}

.box p {
	padding: 3rem;
	line-height: 1.5em;
}

.box-cover {
	margin-top: -300px;
}

.box {
	color: orangered;
	border: 10px solid orangered;
}

.box h1 {
	color: blue;
	font-size: 3rem;
}

.box h1:before {
	content: ' ';
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	background-color: currentColor;
	border-radius: 50%;
	margin-right: 0.5em;
}