/* Reset */
body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

strong {
    font-weight: normal;
}

:root {
    --primary-color: saddlebrown;
    --secondary-color: burlywood;
    --white-color: white;
    --red-color: orangered;
}

/* Layouts */
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Design */
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    font-family: "arial";
}

.cow {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 200px;
    /* height: 300px; */
    margin: 0 auto;
    padding-bottom: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: inset 0 0 30px currentColor;
}

.horn {
    background-color: var(--white-color);
    height: 80px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    margin: 0 -40px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.8);
}

.horn::before {
    content: ' ';
    display: block;
    height: 40px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    background-color: var(--primary-color);
}

.horn::after {
    content: ' ';
    background-color: rosybrown;
    display: block;
    height: 60px;
    margin: 0 60px;
    transform: translateY(-10px);
    border-radius: 20px;
    box-shadow: inset 0 -15px 20px currentColor;
}

.eyes {
    border-top: 30px double;
    margin: 20px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.eyes::before,
.eyes::after {
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    margin: 10px;
    border-radius: 50%;
    box-shadow: inset 0 -6px 0 10px currentColor;
}

.nose {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 0 -10px;
    background-color: var(--secondary-color);
    border-radius: 40px;
}

.nose::before,
.nose::after {
    content: ' ';
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.mouth {
    background-color: var(--secondary-color);
    height: 50px;
    margin: 0 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 10px 10px currentColor;
    position: relative;
}

.mouth::after {
    content: ' ';
    background-color: var(--red-color);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    margin: 0 30px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    border-bottom: 20px solid var(--secondary-color);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(100%);
}

.title {
    line-height: 1;
    font-size: 100px;
    padding: 40px 0;
}

.title strong {
    font-weight: bold;
}