
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-leaf:before { content: '\e801'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */